In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [6]:
df=pd.read_csv("utdallas_contest_data-3.csv", index_col=3)
df = df.drop(['Unnamed: 0', 'wgtpop', 'wgthh', 'match', 'match_level_1'], axis=1)
df.head()

,State_99039,Zip_Code_99040,Zip4_Code_99041,Len_of_Residence_90300,Marital_Status_90301,Dwelling_Type_90302,Homeowner_Renter_90303,Gender_Code_90304,Age_Range_90305,Num_Adults_HH_90306,...,other22_times_shopped_30_days,other22_shopped_3_mos,other23_times_shopped_30_days,other23_shopped_3_mos,other24_times_shopped_30_days,other24_shopped_3_mos,other25_times_shopped_30_days,other25_shopped_3_mos,other26_times_shopped_30_days,other26_shopped_3_mos
dataright_seq,,,,,,,,,,,,,,,,,,,,,
2517,CT,6604,2004.0,NaN,NaN,S,O,M,A,5.0,...,NaN,0,NaN,0,C,1,NaN,0,NaN,0
2518,CT,6604,2004.0,1.0,NaN,S,NaN,F,D,NaN,...,NaN,0,NaN,0,C,1,NaN,0,NaN,0
2519,CT,6604,2003.0,15.0,NaN,M,R,F,D,1.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2521,CT,6604,2004.0,15.0,M,S,O,F,D,5.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
2522,CT,6604,2003.0,15.0,NaN,S,NaN,M,D,4.0,...,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0

In [7]:
df.shape

(35966, 679)

In [8]:
transaction=df.iloc[:,611:]
profiling=df.iloc[:,:611]

In [9]:
transaction_cloumn = list(transaction.columns)

In [10]:
null_percent =pd.DataFrame(profiling.isnull().sum()/profiling.shape[0], columns=['percent'])

In [11]:
# null_percent.sort_values(by=['percent'], ascending=False)

In [12]:
too_many_null = null_percent[null_percent['percent']>0.30]

In [13]:
too_many_null.shape

(461, 1)

In [14]:
too_many_null_list = list(too_many_null.index)

In [15]:
df_2 = df.drop(too_many_null_list, axis=1)

In [16]:
print('The number of customers without bought the company\'s products: ',
      df_2[(df_2['wc_bought_any']==0)&
            (df_2['wc_big_ticket_bought_any']==0)&
            (df_2['wc_low_ticket_bought_any']==0)].shape[0])

The number of customers without bought the company's products:  20481

In [17]:
print('The number of customers only bought big ticket products: ',
      df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==1)&
            (df_2['wc_low_ticket_bought_any']==0)].shape[0])
big=df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==1)&
            (df_2['wc_low_ticket_bought_any']==0)]
big['tag']='big'

The number of customers only bought big ticket products:  368

In [18]:
print('The number of customers only bought low ticket products: ',
      df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==0)&
            (df_2['wc_low_ticket_bought_any']==1)].shape[0])
low=df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==0)&
            (df_2['wc_low_ticket_bought_any']==1)]
low['tag']='low'

The number of customers only bought low ticket products:  8550

In [19]:
print('The number of customers bought both big and low ticket products: ',
      df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==1)&
            (df_2['wc_low_ticket_bought_any']==1)].shape[0])
both=df_2[(df_2['wc_bought_any']==1)&
            (df_2['wc_big_ticket_bought_any']==1)&
            (df_2['wc_low_ticket_bought_any']==1)]
both['tag']='both'

The number of customers bought both big and low ticket products:  6567

In [20]:
df_2=pd.concat([big, low, both])
df_3 = df_2.drop(transaction_cloumn, axis = 1)
print(df_3.shape)
df_3 = df_3.drop(['ZIP_Plus_4_U324009', 'Num_ReportingSource_U324073', 'ZIP4_Home_Value_U324093',
          'Date_of_Birth_Mth_U324095', 'Date_of_Birth_Day_U324096', 'Date_of_Birth_Year_U324097',
          'Ethnicity_U324577', 'ZIP_Code_U324008', 'Zip_Code_99040', 'Census_Coding_Lvl_U324049',
                 'Zip4_Code_99041', 'Census_Block_Code_U324022', 'Cen_Basic_Tract_Num_U324019',
                  'Census_Basic_BlkGrp_U324021', 'Cen_BasTrct_SbCdNum_U324020', 'Language_U324578'], axis = 1)
print(df_3.shape)

(15485, 151)
(15485, 135)

#### Age

In [1]:
df_3[['Age_Range_90305', 'Cen10_Med_Age_HHer_U324024', 'Age_Range_U324055',
      'Age_U324094']].isnull().sum()/df_3[['Age_Range_90305', 
                                           'Cen10_Med_Age_HHer_U324024', 'Age_Range_U324055', 'Age_U324094']].shape[0]

NameError: name 'df_3' is not defined

In [22]:
df_3.shape

(15485, 135)

In [23]:
def age_convert(x):
    if x<=24:
        return 'A'
    elif 25<=x<=34:
        return 'B'
    elif 35<=x<=44:
        return 'C'
    elif 45<=x<=54:
        return 'D'
    elif 55<=x<=64:
        return 'E'
    elif 65<=x<=74:
        return 'F'
    else:
        return 'G'

In [24]:
df_3['Cen10_Med_Age_HHer_U324024'] = df_3['Cen10_Med_Age_HHer_U324024'].map(age_convert)

In [25]:
df_3['Age_Range_90305'].fillna(df_3['Cen10_Med_Age_HHer_U324024'], inplace=True)

In [26]:
df_3[['Age_Range_90305', 'Cen10_Med_Age_HHer_U324024', 'Age_Range_U324055',
      'Age_U324094']].isnull().sum()/df_3[['Age_Range_90305', 
                                           'Cen10_Med_Age_HHer_U324024', 'Age_Range_U324055', 'Age_U324094']].shape[0]

Age_Range_90305               0.000000
Cen10_Med_Age_HHer_U324024    0.000000
Age_Range_U324055             0.178495
Age_U324094                   0.178495
dtype: float64

In [27]:
df_3 = df_3.drop(['Cen10_Med_Age_HHer_U324024', 'Age_Range_U324055', 'Age_U324094'], axis = 1)

In [28]:
df_3.shape

(15485, 132)

#### Gender

In [29]:
df_3[['Gender_Code_90304', 'Gender_U324057', 'Gender1_99013', 'Gender2_99014']].isnull().sum()/df_3[['Gender_Code_90304', 'Gender_U324057', 'Gender1_99013', 'Gender2_99014']].shape[0]

Gender_Code_90304    0.018599
Gender_U324057       0.000000
Gender1_99013        0.000000
Gender2_99014        0.000000
dtype: float64

In [30]:
df_3[['Gender_Code_90304', 'Gender_U324057', 'Gender1_99013', 'Gender2_99014']].head()

              Gender_Code_90304 Gender_U324057 Gender1_99013 Gender2_99014
dataright_seq
3014                          M              M             M             U
5968                        NaN              M             U             U
5809                          F              F             F             U
6540                          M              M             M             U
7622                          M              M             M             U

In [31]:
df_3 = df_3.drop(['Gender_Code_90304', 'Gender1_99013', 'Gender2_99014'], axis = 1)

In [32]:
df_3.shape

(15485, 129)

#### Home Owner Status

In [33]:
df_3[['Homeowner_Renter_90303', 'Homeowner_Status_U324062']].isnull().sum()/df_3[['Homeowner_Renter_90303', 'Homeowner_Status_U324062']].shape[0]

Homeowner_Renter_90303      0.074265
Homeowner_Status_U324062    0.074265
dtype: float64

In [34]:
pd.DataFrame(df_3[['Homeowner_Renter_90303', 'Homeowner_Status_U324062']].apply(lambda x: x.count(), axis=1))[0].unique()

array([0, 2])

This outcome means the two columns have null values in the same row. So I can randomly delete one.

In [35]:
df_3 = df_3.drop(['Homeowner_Renter_90303'], axis =1)

In [36]:
df_3.shape

(15485, 128)

#### Dwelling Type

In [37]:
df_3[['Dwelling_Type_90302', 'Dwelling_Type_U324063']].isnull().sum()/df_3[['Dwelling_Type_90302', 'Dwelling_Type_U324063']].shape[0]

Dwelling_Type_90302      0.006458
Dwelling_Type_U324063    0.000000
dtype: float64

In [38]:
df_3 = df_3.drop(['Dwelling_Type_U324063'], axis =1)

In [39]:
df_3.shape

(15485, 127)

#### Columns about family income

In [40]:
income = df_3[['Cen10_Med_HH_Inc_U324028', 'Cen10_Incom_Pctile_U324029', 'Cen10_MedHH_EffInc_U324039',
              'Est_HH_Income_3_U324064', 'Est_Disc_Income_Pct_U324160', 'Dual_Income_Indx_3_U324067',
              'Est_Disc_Income_Pct_U324160', 'Est_HH_Debt_Level_U324161',
              'Est_HH_Invest_Asset_U324162']]

In [41]:
income.isnull().sum()/income.shape[0]

Cen10_Med_HH_Inc_U324028       0.0
Cen10_Incom_Pctile_U324029     0.0
Cen10_MedHH_EffInc_U324039     0.0
Est_HH_Income_3_U324064        0.0
Est_Disc_Income_Pct_U324160    0.0
Dual_Income_Indx_3_U324067     0.0
Est_Disc_Income_Pct_U324160    0.0
Est_HH_Debt_Level_U324161      0.0
Est_HH_Invest_Asset_U324162    0.0
dtype: float64

In [42]:
df_3 = df_3 = df_3.drop(['Cen10_Med_HH_Inc_U324028', 
                         'Est_HH_Income_3_U324064', 'Est_Disc_Income_Pct_U324160'], axis =1)
df_3.shape

(15485, 124)

#### Home Networth

In [43]:
df_3[['Networth_90312',
'Net_Worth_3_U324065',
'Home_Val_AddrLevel_U324158']].isnull().sum()/df_3[['Networth_90312',
'Net_Worth_3_U324065',
'Home_Val_AddrLevel_U324158']].shape[0]

Networth_90312                0.000000
Net_Worth_3_U324065           0.000000
Home_Val_AddrLevel_U324158    0.187149
dtype: float64

In [44]:
df_3 = df_3.drop(['Networth_90312'], axis = 1)
df_3.shape

(15485, 123)

#### Cildren

In [45]:
df_3[['Household_Comp_U324163', 'Cen10_Pct_HH_w_Chld_U324037', 'Num_Persons_in_HH_U324072',
'Number_Children_U324074']].isnull().sum()/df_3[['Household_Comp_U324163', 'Cen10_Pct_HH_w_Chld_U324037', 'Num_Persons_in_HH_U324072',
'Number_Children_U324074']].shape[0]

Household_Comp_U324163         0.215628
Cen10_Pct_HH_w_Chld_U324037    0.000000
Num_Persons_in_HH_U324072      0.146400
Number_Children_U324074        0.000000
dtype: float64

In [46]:
df_3 = df_3.drop(['Household_Comp_U324163'], axis = 1)
df_3.shape

(15485, 122)

#### Mail Order Respender

In [47]:
df_3[['Mail_Order_Resp_90316', 'Mail_Order_Respnder_U324068']].isnull().sum()/df_3[['Mail_Order_Resp_90316', 'Mail_Order_Respnder_U324068']].shape[0]

Mail_Order_Resp_90316          0.267226
Mail_Order_Respnder_U324068    0.267226
dtype: float64

In [48]:
pd.DataFrame(df_3[['Mail_Order_Resp_90316', 'Mail_Order_Respnder_U324068']].apply(lambda x: x.count(), axis=1))[0].unique()

array([0, 2])

This outcome means the two columns have null values in the same row. So I can randomly delete one.

In [49]:
df_3 = df_3.drop(['Mail_Order_Resp_90316'], axis =1)
df_3.shape

(15485, 121)

#### Number of adult

In [50]:
pd.DataFrame(df_3[['Num_Adults_HH_90306', 'Num_Adults_in_HH_U324071', 'Num_Persons_in_HH_U324072']].apply(lambda x: x.count(), axis=1))[0].unique()

array([0, 3])

In [51]:
df_3 = df_3.drop(['Num_Adults_HH_90306'], axis =1)
df_3.shape

(15485, 120)

#### Length of Residence

In [52]:
pd.DataFrame(df_3[['Length_of_Residnce_U324061', 'Len_of_Residence_90300']].apply(lambda x: x.count(), axis=1))[0].unique()

array([2, 0])

In [53]:
df_3 = df_3.drop(['Len_of_Residence_90300'], axis =1)
df_3.shape

(15485, 119)

#### State

In [54]:
df_3[['State_99039', 'State_U324007',
      'Numeric_State_Code_U324012', 'Numeric_Cty_Code_U324013']].head()

,State_99039,State_U324007,Numeric_State_Code_U324012,Numeric_Cty_Code_U324013
dataright_seq,,,,
3014,NJ,NJ,34,31
5968,NY,NY,36,5
5809,NY,NY,36,5
6540,NY,NY,36,47
7622,NY,NY,36,103

In [55]:
df_3 = df_3.drop(['State_99039', 'Numeric_State_Code_U324012', 'Numeric_Cty_Code_U324013'], axis =1)
df_3.shape

(15485, 116)

#### Census

In [56]:
list([col for col in df_3 if col.startswith('Cen')])

['Cen10_Education_Lev_U324023',
 'Cen10_Pct_White_U324025',
 'Cen10_Pct_Hispanic_U324026',
 'Cen10_Pct_Black_U324027',
 'Cen10_Incom_Pctile_U324029',
 'Cen10_Pct_Homeoner_U324030',
 'Cen10_Med_Home_Val_U324031',
 'Cen10_Pct_SFDU_U324032',
 'Cen10_Pct_Mob_Homes_U324033',
 'Cen10_Pct_BCol_Emp_U324034',
 'Cen10_Pct_WhtColEmp_U324035',
 'Cen10_Pct_Married_U324036',
 'Cen10_Pct_HH_w_Chld_U324037',
 'Cen10_Avg_Num_Auto_U324038',
 'Cen10_MedHH_EffInc_U324039',
 'Cen10_Pct_Divorced_U324040',
 'Cen10_Pct_MtrVehOwn_U324041',
 'Cen10_Pct_AbvPovrty_U324042',
 'Cen10_Pct_BelPovLvl_U324043',
 'Cen10_Pct_Move_2000_U324044',
 'Cen10_Pct_Blt_2000p_U324045',
 'Cen10_SocioEcon_Scr_U324046',
 'Cen10_PopDen_St_Cen_U324047',
 'Cen10_PopDen_USCent_U324048']

In [57]:
list([col for col in df_3 if col.startswith('Census')])

[]

#### Fill nan

In [58]:
null =pd.DataFrame(df_3.isnull().sum()/df_3.shape[0], columns=['percent'])
# null.sort_values(['percent'], ascending=False)
print(null[null['percent']==0].shape)
# print(null[null['percent']>0].sort_values(['percent'], ascending=False))

(97, 1)

In [59]:
numerics=['float64', 'int64']
objects=df_3.select_dtypes(exclude=numerics)
numeric=df_3.select_dtypes(include=numerics)

In [60]:
print(objects.shape)
print(numeric.shape)

(15485, 32)
(15485, 84)

In [61]:
numeric = numeric.fillna(0)
objects = objects.fillna('U')

In [62]:
numeric.isnull().sum()/numeric.shape[0]

Designated_Mkt_Area_U324014    0.0
Cen10_Education_Lev_U324023    0.0
Cen10_Pct_White_U324025        0.0
Cen10_Pct_Hispanic_U324026     0.0
Cen10_Pct_Black_U324027        0.0
Cen10_Incom_Pctile_U324029     0.0
Cen10_Pct_Homeoner_U324030     0.0
Cen10_Med_Home_Val_U324031     0.0
Cen10_Pct_SFDU_U324032         0.0
Cen10_Pct_Mob_Homes_U324033    0.0
Cen10_Pct_BCol_Emp_U324034     0.0
Cen10_Pct_WhtColEmp_U324035    0.0
Cen10_Pct_Married_U324036      0.0
Cen10_Pct_HH_w_Chld_U324037    0.0
Cen10_Avg_Num_Auto_U324038     0.0
Cen10_MedHH_EffInc_U324039     0.0
Cen10_Pct_Divorced_U324040     0.0
Cen10_Pct_MtrVehOwn_U324041    0.0
Cen10_Pct_AbvPovrty_U324042    0.0
Cen10_Pct_BelPovLvl_U324043    0.0
Cen10_Pct_Move_2000_U324044    0.0
Cen10_Pct_Blt_2000p_U324045    0.0
Cen10_SocioEcon_Scr_U324046    0.0
Cen10_PopDen_St_Cen_U324047    0.0
Cen10_PopDen_USCent_U324048    0.0
Length_of_Residnce_U324061     0.0
ZIP_Income_Decile_U324066      0.0
Dual_Income_Indx_3_U324067     0.0
Num_Adults_in_HH_U324071       0.0
Num_Persons_in_HH_U324072      0.0
                              ...
Chan_Pref_Idx_Mail_U324546     0.0
Chan_Pref_Index_Ph_U324547     0.0
Chan_Pref_Idx_Text_U324548     0.0
Chan_Pref_Indx_Web_U324549     0.0
Uninsured_Index_U324550        0.0
Dual_Eligible_Indx_U324551     0.0
Hlth_Ins_Dir_PayIdx_U324552    0.0
Singl_Srvc_Pln_Dent_U324553    0.0
Sing_Srvc_Plan_Vis_U324554     0.0
Sngl_Srv_Plan_Dis_U324555      0.0
Ins_Index_Juv_Life_U324556     0.0
Ins_Index_Final_Exp_U324557    0.0
Ins_Idx_Pre_Funeral_U324558    0.0
Ins_Index_Term_Life_U324559    0.0
Ins_Index_WholeLife_U324561    0.0
Altruist_Index_U324567         0.0
Annuity_Resp_Index_U324568     0.0
Hlth_Idx_MngBizHlth_U324569    0.0
Hlth_Idx_Manag_Hlth_U324570    0.0
Hlth_Indx_Mng_Illns_U324571    0.0
Hlth_Idx_Hlth_Trkr_U324572     0.0
Medicar_SpInsByrIdx_U324604    0.0
Smart_HHs_Appliance_U324605    0.0
Smart_HHs_Security_U324606     0.0
Digital_Dest_Groups_U324611    0.0
Digital_Devices_U324612        0.0
Digital_Destination_U324613    0.0
Digi_Neighborhoods_U324614     0.0
Mult_HlthBeh_Ch_Idx_U324615    0.0
Sust_Hlth_BehCh_Idx_U324616    0.0
Length: 84, dtype: float64

In [63]:
objects.isnull().sum()/objects.shape[0]

Dwelling_Type_90302            0.0
Age_Range_90305                0.0
Race_Code_90308                0.0
Est_HH_Income_90309            0.0
Home_Market_Value_90310        0.0
BnkCrd_Pres_in_HH_90313        0.0
Nielsen_County_Sz_U324016      0.0
Gender_U324057                 0.0
Family_PositionCode_U324059    0.0
Homeowner_Status_U324062       0.0
Net_Worth_3_U324065            0.0
Mail_Order_Respnder_U324068    0.0
Online_Access_U324085          0.0
Bank_Card_U324099              0.0
Email_Access_U324134           0.0
Est_HH_Debt_Level_U324161      0.0
Est_HH_Invest_Asset_U324162    0.0
Byr_Ret_DataPresent_U324525    0.0
Generations_2_U324527          0.0
Chan_Pref_FirstPref_U324542    0.0
Chan_Pref_Scnd_Pref_U324543    0.0
Ins_Amount_TermLife_U324560    0.0
Ins_Amt_Whole_Life_U324562     0.0
AtoHmeIns_PrchDstCh_U324563    0.0
AutoHomeIns_Qte_Chn_U324564    0.0
LifeIns_Prch_DstChn_U324565    0.0
Life_Ins_Qt_Dst_Chn_U324566    0.0
Religion_U324573               0.0
Ethnic_Group_U324576           0.0
Hlthcare_Treat_Pref_U324603    0.0
State_U324007                  0.0
tag                            0.0
dtype: float64

#### Label Encoder

In [64]:
from sklearn.preprocessing import LabelEncoder

def label(df, column_name):
    le = LabelEncoder()
    print(column_name, ':')
    print(list(df[column_name].unique()))
    values = list(df[column_name].unique())
    objects[column_name] = le.fit(list(df[column_name].unique())).transform(df[column_name])
    print(list(df[column_name].unique()))
    keys = list(df[column_name].unique())
    dictionary = dict(zip(keys, values))
    return dictionary

In [65]:
columns_dic = {}
objects_columns = list(objects.columns)
for i in objects_columns:
    a = i
    dic = label(objects, i)
    columns_dic[a] = dic

Dwelling_Type_90302 :
['S', 'M', 'U']
[1, 0, 2]
Age_Range_90305 :
['E', 'D', 'C', 'G', 'A', 'F', 'B']
[4, 3, 2, 6, 0, 5, 1]
Race_Code_90308 :
['H', 'B', 'W', 'U', 'A']
[2, 1, 4, 3, 0]
Est_HH_Income_90309 :
['B', 'A', 'D', 'E', 'G', 'H', 'F', 'C']
[1, 0, 3, 4, 6, 7, 5, 2]
Home_Market_Value_90310 :
['E', 'A', 'F', 'G', 'D', 'H', 'I', 'J', 'B', 'C', 'K', 'L']
[4, 0, 5, 6, 3, 7, 8, 9, 1, 2, 10, 11]
BnkCrd_Pres_in_HH_90313 :
['U', 'Y']
[0, 1]
Nielsen_County_Sz_U324016 :
['A', 'B', 'C', 'D']
[0, 1, 2, 3]
Gender_U324057 :
['M', 'F']
[1, 0]
Family_PositionCode_U324059 :
['O', 'M', 'F', 'H', 'C', 'W', 'G', 'P']
[5, 4, 1, 3, 0, 7, 2, 6]
Homeowner_Status_U324062 :
['U', 'R', 'T', 'Y', 'P']
[3, 1, 2, 4, 0]
Net_Worth_3_U324065 :
['A', 'E', 'J', 'K', 'G', 'L', 'M', 'I', 'F', 'B', 'H', 'C', 'D']
[0, 4, 9, 10, 6, 11, 12, 8, 5, 1, 7, 2, 3]
Mail_Order_Respnder_U324068 :
['U', 'M', 'Y']
[1, 0, 2]
Online_Access_U324085 :
['U', 'Y']
[0, 1]
Bank_Card_U324099 :
['U', 'Y', 'M']
[1, 2, 0]
Email_Access_U324134 :
['U', 'Y']
[0, 1]
Est_HH_Debt_Level_U324161 :
['B', 'C', 'I', 'F', 'E', 'H', 'G', 'D', 'A']
[1, 2, 8, 5, 4, 7, 6, 3, 0]
Est_HH_Invest_Asset_U324162 :
['A', 'B', 'G', 'C', 'H', 'J', 'F', 'I', 'E', 'D']
[0, 1, 6, 2, 7, 9, 5, 8, 4, 3]
Byr_Ret_DataPresent_U324525 :
['U', 'Y']
[0, 1]
Generations_2_U324527 :
['L4', 'G8', 'M5', 'G5', 'G2', 'S6', 'M7', 'L6', 'S5', 'L1', 'U', 'M2', 'G4', 'T6', 'L5', 'T5', 'L2', 'S8', 'M4', 'T3', 'L3', 'M1', 'T7', 'S4', 'T4', 'S2', 'S1', 'S7', 'T1', 'S3', 'M3', 'G7', 'M6', 'G6', 'G1', 'T2', 'G3']
[11, 7, 18, 4, 1, 26, 20, 13, 25, 8, 36, 15, 3, 34, 12, 33, 9, 28, 17, 31, 10, 14, 35, 24, 32, 22, 21, 27, 29, 23, 16, 6, 19, 5, 0, 30, 2]
Chan_Pref_FirstPref_U324542 :
['P', 'C', 'T', 'E', 'W', 'M']
[3, 0, 4, 1, 5, 2]
Chan_Pref_Scnd_Pref_U324543 :
['C', 'T', 'E', 'M', 'P', 'W']
[0, 4, 1, 2, 3, 5]
Ins_Amount_TermLife_U324560 :
['A', 'B', 'C', 'E', 'D']
[0, 1, 2, 4, 3]
Ins_Amt_Whole_Life_U324562 :
['A', 'B', 'C', 'E', 'D']
[0, 1, 2, 4, 3]
AtoHmeIns_PrchDstCh_U324563 :
['D', 'O', 'A']
[1, 2, 0]
AutoHomeIns_Qte_Chn_U324564 :
['D', 'O', 'A']
[1, 2, 0]
LifeIns_Prch_DstChn_U324565 :
['O', 'A', 'D']
[2, 0, 1]
Life_Ins_Qt_Dst_Chn_U324566 :
['O', 'D', 'A']
[2, 1, 0]
Religion_U324573 :
['C', 'P', 'O', 'J', 'U', 'K', 'H', 'M', 'I', 'B', 'E', 'L', 'S']
[1, 10, 9, 5, 12, 6, 3, 8, 4, 0, 2, 7, 11]
Ethnic_Group_U324576 :
['O', 'A', 'K', 'E', 'L', 'U', 'G', 'J', 'C', 'I', 'B', 'N', 'D', 'M', 'F', 'H']
[14, 0, 10, 4, 11, 15, 6, 9, 2, 8, 1, 13, 3, 12, 5, 7]
Hlthcare_Treat_Pref_U324603 :
['P', 'H', 'O', 'C']
[3, 1, 2, 0]
State_U324007 :
['NJ', 'NY', 'CT', 'CA', 'IL', 'PA', 'MA', 'MD', 'VA', 'GA', 'TX', 'NC', 'FL', 'TN', 'LA', 'MI', 'OH', 'WI', 'MO', 'KS', 'UT', 'CO', 'AZ', 'OR', 'SC', 'AL', 'NE', 'WA', 'KY', 'MS', 'ND', 'IA', 'WV', 'OK', 'NV', 'IN', 'ID', 'DE', 'NH', 'RI', 'MN', 'ME', 'AR', 'DC', 'VT', 'MT', 'NM', 'WY', 'SD']
[29, 32, 5, 3, 12, 36, 17, 18, 43, 9, 41, 25, 8, 40, 16, 20, 33, 46, 22, 14, 42, 4, 2, 35, 38, 0, 27, 45, 15, 23, 26, 10, 47, 34, 31, 13, 11, 7, 28, 37, 21, 19, 1, 6, 44, 24, 30, 48, 39]
tag :
['big', 'low', 'both']
[0, 2, 1]

### Create dataset

In [66]:
df_4 = pd.concat([numeric, objects], axis=1)

In [67]:
df_4.shape

(15485, 116)

In [68]:
# directory = pd.read_csv('dictionary.csv', header=None)
# directory.head()

In [69]:
# directory[directory.iloc[:,3].isin(columns)].to_csv('new_directroy.csv')

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split

from sklearn.metrics import f1_score, accuracy_score

In [71]:
y = df_3['tag'].map(lambda x: 1 if x == 'low' else (2 if x=='big' else 3))
x = df_4.drop(['tag'], axis=1)

In [72]:
xtrain, xtest, ytrain,ytest=train_test_split(x, y, random_state=30, test_size=0.3)

In [73]:
def model(model, trainx, trainy, testx, testy):
    model = model.fit(trainx, trainy)
    predict_test = model.predict(testx)
    predict_train = model.predict(trainx)
    
    print('f1 socre(train)', accuracy_score(trainy, predict_train))
    print('f1 socre(test)', accuracy_score(testy, predict_test))

In [74]:
model(DecisionTreeClassifier(), xtrain, ytrain, xtest, ytest)

f1 socre(train) 1.0
f1 socre(test) 0.503228583727938

In [75]:
model(RandomForestClassifier(), xtrain, ytrain, xtest, ytest)

f1 socre(train) 0.9828397453639635
f1 socre(test) 0.5497201894102454

In [76]:
from sklearn.grid_search import GridSearchCV

def gridSearch(parameters, model, x, y):
    gridsearch = GridSearchCV(model, parameters, scoring = 'accuracy', cv = 3)
    gridsearch.fit(x, y)
    
    print("Best parameters: {}".format(gridsearch.best_params_))
    print("Best cross-validation AUC: {:.4f}".format(gridsearch.best_score_))

/Users/lana/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/lana/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [77]:
max_depths = np.linspace(5, 30, 6, endpoint=True)
min_samples_splits = np.linspace(0.1, 1.0, 10, endpoint=True)
tree_param={"max_depth":max_depths,
          'min_samples_split':min_samples_splits}

In [78]:
tree_param

{'max_depth': array([ 5., 10., 15., 20., 25., 30.]),
 'min_samples_split': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])}

In [79]:
gridSearch(tree_param, DecisionTreeClassifier(), xtrain, ytrain)

Best parameters: {'max_depth': 5.0, 'min_samples_split': 0.2}
Best cross-validation AUC: 0.5676

In [80]:
model(DecisionTreeClassifier(max_depth = 5, min_samples_split = 0.2), xtrain, ytrain, xtest, ytest)

f1 socre(train) 0.5725620444690469
f1 socre(test) 0.5602668962548428

In [81]:
randomforest_param={"n_estimators":[10,20,30,50],
           "max_depth":[5, 10,15,20]}

In [82]:
gridSearch(randomforest_param, RandomForestClassifier(), xtrain, ytrain)

Best parameters: {'max_depth': 5, 'n_estimators': 50}
Best cross-validation AUC: 0.5731

In [83]:
model(RandomForestClassifier(max_depth = 5, n_estimators = 50), xtrain, ytrain, xtest, ytest)

f1 socre(train) 0.602177322631239
f1 socre(test) 0.5708136030994404

In [84]:
rf = RandomForestClassifier(max_depth = 5, n_estimators = 50).fit(xtrain, ytrain)

In [90]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = xtrain.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

In [91]:
feature_importances

                             importance
Designated_Mkt_Area_U324014    0.085863
Cen10_Med_Home_Val_U324031     0.049426
Hlth_Ins_Infl_Index_U324541    0.030584
Cen10_SocioEcon_Scr_U324046    0.024162
Cen10_Pct_Mob_Homes_U324033    0.023975
Cen10_Avg_Num_Auto_U324038     0.022381
Home_Val_AddrLevel_U324158     0.021312
Cen10_Pct_White_U324025        0.020656
Cen10_PopDen_USCent_U324048    0.019395
Est_HH_Income_90309            0.019276
Race_Code_90308                0.019271
Cen10_Pct_Black_U324027        0.018349
Cen10_Pct_MtrVehOwn_U324041    0.018062
Ethnic_Group_U324576           0.017736
Nielsen_County_Sz_U324016      0.017292
Ins_Amt_Whole_Life_U324562     0.016817
Cen10_Pct_WhtColEmp_U324035    0.016450
Pct_HlthcreUninsEst_U324535    0.016116
Medicare_Advtge_Pct_U324529    0.015915
Cen10_Pct_Blt_2000p_U324045    0.015667
Cen10_MedHH_EffInc_U324039     0.015423
Home_Market_Value_90310        0.013117
Cen10_Education_Lev_U324023    0.013077
State_U324007                  0.013005
Sing_Srvc_Plan_Vis_U324554     0.012961
Cen10_PopDen_St_Cen_U324047    0.012452
Net_Worth_3_U324065            0.012402
Cen10_Pct_Homeoner_U324030     0.012094
Ins_Amount_TermLife_U324560    0.011726
Cen10_Pct_SFDU_U324032         0.010464
...                                 ...
Byr_Cat_Total_Ordrs_U324419    0.003521
Hlth_Indx_Mng_Illns_U324571    0.003512
Byr_Cat_Avg_Onl_Dol_U324426    0.003448
Ins_Resp_Index_Auto_U324539    0.003219
Byr_Cat_Online_Ords_U324421    0.003003
Ins_Index_Term_Life_U324559    0.003001
Dual_Eligible_Indx_U324551     0.002948
Ins_Resp_Index_Life_U324537    0.002903
Chan_Pref_Idx_Text_U324548     0.002670
Digi_Neighborhoods_U324614     0.002667
Number_Children_U324074        0.002415
Byr_Ret_Orders_U324481         0.002408
AtoHmeIns_PrchDstCh_U324563    0.002353
Ins_Index_WholeLife_U324561    0.002244
Age_Range_90305                0.001958
Num_Adults_in_HH_U324071       0.001848
Annuity_Resp_Index_U324568     0.001742
Uninsured_Index_U324550        0.001495
Homeowner_Status_U324062       0.001192
Hlthcare_Treat_Pref_U324603    0.001184
Email_Access_U324134           0.001145
Chan_Pref_Scnd_Pref_U324543    0.001122
LifeIns_Prch_DstChn_U324565    0.000962
Gender_U324057                 0.000952
Dwelling_Type_90302            0.000800
Bank_Card_U324099              0.000612
Byr_Ret_DataPresent_U324525    0.000484
Online_Access_U324085          0.000000
Mail_Order_Respnder_U324068    0.000000
BnkCrd_Pres_in_HH_90313        0.000000

[115 rows x 1 columns]

In [87]:
dt = DecisionTreeClassifier(max_depth = 5, min_samples_split = 0.2).fit(xtrain, ytrain)

In [88]:
from sklearn import tree

In [89]:
tree.export_graphviz(dt, out_file='tree.dot', feature_names = xtrain.columns)